<footer>
  <section>
    <aside>
      <h5>Help</h5>
      <ul class="unstyled">
        <li><a href="/setup">Setup Instructions</a></li>
        <li><a href="/pgp">Sign in with your PGP Key</a></li>
        <li><a href="/openid">OpenID Provider</a></li>
      </ul>
    </aside>
    <aside>
      <h5>IndieWeb</h5>
      <ul class="unstyled">
        <li><a href="https://indieweb.org/">IndieWeb.org</a></li>
        <li><a href="https://indieweb.org/why">Why the Indie Web?</a></li>
        <li><a href="https://indieweb.org/Getting_Started">Getting Started</a></li>
      </ul>
    </aside>
    <aside>
      <h5>Microformats</h5>
      <ul class="unstyled">
        <li><a href="http://microformats.org/wiki/RelMeAuth">RelMeAuth</a></li>
        <li><a href="http://microformats.org/wiki/web-sign-in">Web Sign-In</a></li>
        <li><a href="http://microformats.org/wiki/rel-me">rel="me"</a></li>
      </ul>
    </aside>
    <aside>
      <h5>Community</h5>
      <ul class="unstyled">
        <li><a href="https://indieweb.org/">IndieWeb Wiki</a></li>
        <li><a href="http://microformats.org/wiki/">Microformats Wiki</a></li>
        <li><a href="https://twitter.com/indiewebcamp">IndieWebCamp Twitter</a></li>
        <li><a href="https://indieweb.org/discuss">#indieweb IRC</a></li>
        <li><a href="http://webchat.freenode.net/?channels=microformats&amp;nick=webchat<%=rand(400)%>">#microformats IRC</a></li>
      </ul>
    </aside>
  </section>
</footer>
