<main>
  <article>
    <h2 id="faq">Frequently Asked Questions</h2>

    <details>
      <summary>What is RelMeAuth?</summary>
      <p>
        <a href="https://indieweb.org/RelMeAuth">RelMeAuth</a> is a way to
        identify yourself as your domain name while using third party OAuth
        providers to authenticate.
      </p>
    </details>

    <details>
      <summary>How is this different from OpenID?</summary>
      <p>
        The goals of OpenID and RelMeAuth are similar. Both encourage you to
        sign in to a website using your own domain name. However,
        <a href="https://indieweb.org/OpenID#Shutdowns">
          OpenID has been almost entirely abandoned
        </a>, at least in part due to the complexities of the protocol.
        RelMeAuth is a simpler implementation of a similar goal, by leveraging
        other OAuth providers and behaviors that people are already accustomed
        to.
      </p>
    </details>

    <details>
      <summary>Can my rel="me" links be hidden on my home page?</summary>
      <p>
        Yes, your rel="me" links do not need to be visible, but the html does
        need to be on your home page. You can hide the links with CSS, or
        include them as &lt;link&gt; tags in your html head.
      </p>
    </details>

    <details>
      <summary>Does this require users to have their own domain name?</summary>
      <p>
        Yes, the assumption is that people are willing to
        <a href="https://indieweb.org/why">own their online identities</a> in
        the form of a domain name. It is getting easier and easier to host
        content on your own domain name. See "
        <a href="https://indieweb.org/Getting_Started">
          Getting Started on the Indie Web</a>" for some suggestions, including
        mapping your domain to a Tumblr blog, or signing up for a simple web
        hosting service like
        <a href="http://www.dreamhost.com/r.cgi?426455">Dreamhost</a>.
      </p>
    </details>

    <details>
      <summary>
        But doesn't this make me dependent on your site, indieauth.com?
      </summary>
      <p>
        This service exists for websites to use if they don't want to
        implement OAuth code for each provider. As a user signing in to the
        site, you don't need to worry about whether the site is using
        auth.skribilo.blog or some other RelMeAuth service.
      </p>
    </details>

    <details>
      <summary>What if auth.skribilo.blog is down?</summary>
      <p>
        If an application is using auth.skribilo.blog as an auth service and
        auth.skribilo.blog is down, then logins to that website will not work.
        However this is just the same as if that site's own internal auth
        service is down had they implemented it themselves. Because of this
        potential risk, it is possible that some apps may wish to run their
        own instance of this software or implement
        <a href="https://indieweb.org/RelMeAuth">RelMeAuth</a> directly to
        avoid relying on a third party service.
      </p>
    </details>

    <!--
    <p>Google+ profiles only put the rel="me" attribute on links for personal pages, not for business/brand/place/community pages. The "Links" section on the "about" page of a Google+ profile contains several subsections including "other profiles", "contributor to", and "links".</p>
    <p>For IndieAuth.com to work with Google+, the link back to your website must be in the "other profiles" subsection, which must be visible to the public, and you must also have the "Links" section visible to the public.</p>
    -->
  </article>
</main><!-- container -->

<%= partial :'partials/_footer' %>
