  <%= partial :'partials/_banner' %>

<main>

  <section>
    <aside>
        <h2>What is <span class="p-name">auth.skribilo.blog</span>?</h2>
        <p>
          auth.skribilo.blog provides an IndieAuth server for your website that
          authenticates you using your existing social accounts. First you link
          from your website to one or more authentication providers such as
          GitHub or a PGP key, then when you enter your domain name in the web
          sign-in form on websites that support IndieAuth, you can sign in
          without using a password.
        </p>
        <a href="/" class="u-url"></a>
    </aside>

    <aside>
        <h4>For Users</h4>

        <p>
          If you would like to quickly support
          <a href="https://www.w3.org/TR/indieauth/">IndieAuth</a> for your
          Micropub endpoint, and your website's software does not already have a
          built-in IndieAuth server, you can use auth.skribilo.blog as your
          IndieAuth authorization endpoint.
        </p>

        <p>
          Websites hosted by <a href="https://www.skribilo.blog">Skribilo.blog</a>
          use <a href="/">auth.skribilo.blog</a> as their IndieAuth endpoint there
          is no action required to be taken.
        </p>

        <p>
          For alternatives to this service, please visit
          <a href="https://indieweb.org/IndieAuth">indieweb.org/IndieAuth</a>
        </p>
    </aside>
  </section>

  <hr />

  <section>
    <article>
      <h3>How to Set Up auth.skribilo.blog</h3>

      <a class="img-thumbnail" href="/setup">
        <img src="/img/code-sample.png" width="100%">
      </a>

      <ul>
        <li>
          Add a link on your home page to your various social profiles with the
          attribute <a href="http://microformats.org/wiki/rel-me">rel="me"</a>
        </li>
        <li>
          Ensure your profiles link back to your home page
        </li>
        <li>
          Enter your domain in a
          "<a href="http://microformats.org/wiki/web-sign-in">Web Sign-In</a>"
          box to begin using your own domain as your online identity!
        </li>
      </ul>
      <a href="/setup">Full setup instructions</a>

    </article>

    <article>
      <form action="/auth" method="get" class="well">
        <h3>Try It!</h3>
        <label for="indie_auth_url">Web Address:</label>
        <input id="indie_auth_url" type="text" name="me" class="form-control" placeholder="yourdomain.com" />

        <p><button type="submit" class="btn btn-default">Sign In</button></p>

        <input type="hidden" name="client_id" value="<%= SiteConfig.root %>" />
        <input type="hidden" name="redirect_uri" value="<%= SiteConfig.root %>/success" />
      </form>
    </article>
  </section>

  <hr />

  <section>
    <aside>
      <h3 id="community">Community</h3>

      <a class="img-thumbnail" href="https://indieweb.org/IndieAuth"><img src="/img/wiki-button.png" width="100" height="100" /></a>
      <a class="img-thumbnail" href="http://github.com/aaronpk/IndieAuth.com"><img src="/img/github-button.png" width="100" height="100" /></a>
      <a class="img-thumbnail" href="https://twitter.com/indiewebcamp"><img src="/img/twitter-button.png" width="100" height="100" /></a>
    </aside>

    <aside>
      <h4>Join Us</h4>
      <ul>
        <li>Attend an <a href="https://indieweb.org/events">IndieWebCamp event</a></li>
        <li>Add your own IndieWeb projects to the <a href="https://indieweb.org/projects">Project List</a></li>
      </ul>

    </aside>
  </section>

</main>

<hr />

<%= partial :'partials/_footer' %>

