<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <% if @_meta_description %><meta name="description" content="<%= @_meta_description %>"><% end %>
    <%= viewport %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    <link rel="redirect_uri" href="<%= SiteConfig.root %>/auth/indieauth/redirect" />
    <script src="/js/jquery-3.2.1.min.js"></script>

  </head>
  <body class="<%= browser.body_class %> <%= path_class %>">
    <header>
      <nav>
        <a href="https://www.skribilo.blog">
          <img src="/img/default-monochrome.svg" width="150"/>
        </a>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/setup">Setup</a></li>
            <li><a href="/pgp">PGP</a></li>
            <li><a href="/openid">OpenID</a></li>
            <li><a href="/developers">Developers</a></li>
            <li><a href="/faq">FAQ</a></li>
        </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
