<main>

  <article>

  <h2>Setup Instructions</h2>

  <div class="row">
    <div class="col-lg-8">
      <h3>1. Link to your various social profiles on your home page</h3>

      <p>On your home page, link to your profiles and add the <code>rel="me"</code> attribute to the links.</p>

      <p>This may look something like the following:
      <pre><code><%==
'<ul>
  <li><a href="https://twitter.com/aaronpk" rel="me">@aaronpk on Twitter</a></li>
  <li><a href="https://github.com/aaronpk" rel="me">Github</a></li>
  <li><a href="mailto:me@example.com" rel="me">me@example.com</a></li>
</ul>
<link rel="pgpkey" href="/key.txt">
' %></code></pre>
      </p>

      <p>Note: If you don't want visible links on your home page, you can instead use <code>&lt;link&gt;</code> tags in your html head.</p>

      <pre><code><%=='<link href="https://twitter.com/aaronpk" rel="me">' %></code></pre>

      <p>You can also <a href="/pgp">sign in with a PGP key</a> if you don't wish to use a third party service.</p>

    </div><!-- span -->
    <div class="col-lg-4">
      <a class="img-thumbnail" href="#"><img src="/img/social-profiles.png" width="214" height="256" /></a>
    </div>
  </div><!-- row -->

  <div class="row">
    <div class="col-lg-8">
      <h3>2. On each service, ensure there is a link back to your home page</h3>

      <p>You'll need to verify that each service has a link back to your home page. For convenience the "edit profile" links for some supported services are below.</p>

      <div style="float: right;"><img src="/img/twitter-website-settings.png" width="394" height="102" /></div>

      <ul>
        <li><a href="https://twitter.com/settings/profile">Twitter</a></li>
        <li><a href="https://github.com/settings/profile">Github</a></li>
      </ul>

      <p>For links such as Email and PGP keys, there is obviously no way to "link back" from those, so you will be presented with a challenge when you sign in.</p>

    </div>
  </div><!-- row -->

  <div class="row">
    <div class="col-lg-8">
      <h3>3. You're done!</h3>
      <p>That's it! You're done! Now you can use your domain to sign in to any sites that use IndieAuth.com!</p>

      <h4>Try it now</h4>
      <form action="/auth" method="get" class="well">
        <div class="form-group">
          <label for="indie_auth_url">Web Address:</label>
          <input id="indie_auth_url" type="text" name="me" class="form-control" placeholder="yourdomain.com" />
        </div>
        <p><button type="submit" class="btn">Sign In</button></p>
        <input type="hidden" name="client_id" value="<%= SiteConfig.root %>" />
        <input type="hidden" name="redirect_uri" value="<%= SiteConfig.root %>/success" />
      </form>

    </div>
  </div><!-- row -->


  </article><!-- section -->

</main><!-- container -->

<%= partial :'partials/_footer' %>

<!--
<ul>
  <li><a href="https://twitter.com/aaronpk" rel="me">
    <img src="twitter.png" width="16" height="16" /> <span>@aaronpk on Twitter</span>
  </a></li>
  <li><a href="https://github.com/aaronpk" rel="me">
    <img src="github.png" width="16" height="16" /> <span>Code on Github</span>
  </a></li>
  <li><a href="http://profiles.google.com/aaron.parecki" rel="me">
    <img src="google.png" width="16" height="16" /> <span>Google Profile</span>
  </a></li>
  <li><a href="http://facebook.com/aaronpk" rel="me">
    <img src="facebook.png" width="16" height="16" /> <span>Facebook Profile</span>
  </a></li>
  <li><a href="http://www.flickr.com/people/aaronpk/" rel="me">
    <img src="flickr.png" width="16" height="16" /> <span>Flickr Photos</span>
  </a></li>
  <li><a href="http://foursquare.com/aaronpk" rel="me">
    <img src="foursquare.png" width="16" height="16" /> <span>Foursquare Checkins</span>
  </a></li>
</ul>


<ul>
  <li><a href="https://twitter.com/aaronpk" rel="me">@aaronpk on Twitter</a></li>
  <li><a href="https://github.com/aaronpk" rel="me">Github</a></li>
  <li><a href="http://profiles.google.com/aaron.parecki" rel="me">Google</a></li>
  <li><a href="http://facebook.com/aaronpk" rel="me">Facebook</a></li>
  <li><a href="http://www.flickr.com/people/aaronpk/" rel="me">Flickr</a></li>
</ul>




 -->
